<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>総会議題について</h2>
  <div class="field">
    <%= f.label :question01 %><br>
    <%= f.text_field :question01 %>
  </div>

  <h2>次期幹事選任について</h2>
  <div class="field">
    <%= f.label "幹事長" %><br>
    <%= f.text_field :chief_organizer %>
  </div>
  <div class="field">
    <%= f.label "幹事1" %><br>
    <%= f.text_field :organizer01 %>
  </div>
  <div class="field">
    <%= f.label "幹事2" %><br>
    <%= f.text_field :organizer02 %>
  </div>
  <div class="field">
    <%= f.label "幹事3" %><br>
    <%= f.text_field :organizer03 %>
  </div>
  <div class="field">
    <%= f.label "幹事4" %><br>
    <%= f.text_field :organizer04 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
