
<h1>Listing Answers</h1>
  ログインid:
  <%= current_user.account %>
<% if @answers.empty? %>
  <div>
    まだ回答していません。
  </div>
<% else %>
  <div>
    回答済みです。 最終回答日:
    <%= @answers.last.updated_at %>
  </div>
<% end %>

<%if current_user.admin %>
  <table class="table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Question01</th>
        <th>Question02</th>
        <th>Question03</th>
        <th>Question04</th>
        <th>Question05</th>
        <th>Chief organizer</th>
        <th>Organizer01</th>
        <th>Organizer02</th>
        <th>Organizer03</th>
        <th>Organizer04</th>
        <th>created_at</th>
        <th>updated_at</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @answers.each do |answer| %>
        <tr>
          <td><%= answer.user_id %></td>
          <td><%= answer.question01 %></td>
          <td><%= answer.question02 %></td>
          <td><%= answer.question03 %></td>
          <td><%= answer.question04 %></td>
          <td><%= answer.question05 %></td>
          <td><%= answer.chief_organizer %></td>
          <td><%= answer.organizer01 %></td>
          <td><%= answer.organizer02 %></td>
          <td><%= answer.organizer03 %></td>
          <td><%= answer.organizer04 %></td>
          <th><%= answer.created_at  %></td>
          <th><%= answer.updated_at  %></td>
          <td><%= link_to 'Show', answer %></td>
          <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
          <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.name %> </strong>|
<% if @answers.empty? %>
  <%= link_to "回答する", new_answer_path, :class => "navbar-link" %>|
<% else %>
  <%= link_to "回答を編集する ", edit_answer_path(@answers.last), :class => "navbar-link" %>|
<% end %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class =>"navbar-link" %>
<% else %>
  <%= link_to "Login" , new_user_session_path, :class => 'navbar-link' %>
<% end %>
