<p id="notice"><%= notice %></p>

<% if current_user.admin? %>
<p>
  <strong>User:</strong>
  <%= @answer.user_id %>
</p>
<% end %>
<p>
  <strong>議案1:</strong>
  <%= @answer.question01 %>
</p>

<p>
  <strong>幹事長:</strong>
  <%= @answer.chief_organizer %>
</p>

<p>
  <strong>幹事1:</strong>
  <%= @answer.organizer01 %>
</p>

<p>
  <strong>幹事2:</strong>
  <%= @answer.organizer02 %>
</p>

<p>
  <strong>幹事3:</strong>
  <%= @answer.organizer03 %>
</p>

<p>
  <strong>幹事4:</strong>
  <%= @answer.organizer04 %>
</p>

<%= link_to '回答を編集する', edit_answer_path(@answer) %> |
<%= link_to 'TOPへもどる', answers_path %>
