<p id="notice"><%= notice %></p>

<% if current_user.admin? %>
<p>
  <strong>User:</strong>
  <%= @answer.user_id %>
</p>
<% end %>
<p>
  <strong>Question01:</strong>
  <%= @answer.question01 %>
</p>

<p>
  <strong>Question02:</strong>
  <%= @answer.question02 %>
</p>

<p>
  <strong>Question03:</strong>
  <%= @answer.question03 %>
</p>

<p>
  <strong>Question04:</strong>
  <%= @answer.question04 %>
</p>

<p>
  <strong>Question05:</strong>
  <%= @answer.question05 %>
</p>

<p>
  <strong>Chief organizer:</strong>
  <%= @answer.chief_organizer %>
</p>

<p>
  <strong>Organizer01:</strong>
  <%= @answer.organizer01 %>
</p>

<p>
  <strong>Organizer02:</strong>
  <%= @answer.organizer02 %>
</p>

<p>
  <strong>Organizer03:</strong>
  <%= @answer.organizer03 %>
</p>

<p>
  <strong>Organizer04:</strong>
  <%= @answer.organizer04 %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
