<!DOCTYPE html>
<html>
<head>
  <title>共済会投票あぷり</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<div class="container" >
  <% if notice.present? %>
       <div class="alert alert-dismissable alert-success">
         <p><%= notice %></p>
       </div>
     <% end %>

     <% if alert.present? %>
       <div class="alert alert-dismissable alert-danger">
         <p><%= alert %></p>
       </div>
     <% end %>
<%= yield %>
</div>
</body>
</html>
